{% load static %}
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger shadow" data-bs-dismiss="modal">
        <lord-icon src="{% static 'icons/cancel.json' %}" trigger="hover" style="width:48px;height:48px">
        </lord-icon>
        Закрыть
    </button>
    <button type="submit" class="btn btn-outline-success shadow">
        <lord-icon src="{% static 'icons/add.json' %}" trigger="hover" style="width:48px;height:48px">
        </lord-icon>
        Создать
    </button>
</div>