{% load static %}
{% block template_bar %}

<table class="table table-borderless">
    <h5 class="bg-light rounded-5 shadow p-3 text-center">Выбрать шаблон</h5>
    <tbody>
        {% if template_list %}
        {% for template in template_list %}
        <tr class="d-flex justify-content-lg-between">
            <td><a class="rounded-5 shadow btn {% if template.get_absolute_url == path %}btn-success{% else %}btn-outline-success{% endif %}"
                    href="{{template.get_absolute_url}}"><h6>{{template.title}}</h6></a></td>
            <td><a class="rounded-5 shadow btn {% if template.get_absolute_url == path %}btn-success{% else %}btn-outline-success{% endif %}"
                    href="{% url 'fields_list' template.pk %}">
                    <lord-icon src="{% static 'icons/edit.json' %}" trigger="hover" style="width:32px;height:32px">
                    </lord-icon>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>
                <h5 class="bg-light rounded-5 shadow p-3 text-center">Не один шаблон не создан</h5>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}