{% block template_bar %}
<table class="table table-borderless mt-3">
    <tbody>
        {% for template in template_list %}
        <tr>
            <td><a class="shadow d-flex btn {% if template.get_absolute_url == path %}btn-success{% else %}btn-light{% endif %}" href="{{template.get_absolute_url}}">{{template.title}}</a></td>
            <td style="max-width: 48px;"><a class="shadow d-flex btn {% if template.get_absolute_url == path %}btn-success{% else %}btn-light{% endif %}" href="{% url 'fields_list' template.pk %}">✏️</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}