{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Cписок полей{% endblock title %}
{% block container %}
<div class="container rounded-5 p-5 shadow" style="background-color: #d5d5d5;">
    <div class="row">
        <h3>Cписок полей для шаблона</h3>
        <h1>"{{template}}"</h1>
        {% include 'Replacer/include/_add_button.html' %}
        {% if fields_list %}
        {% forindex fields_list 0 as first_field %}
        <div class="bg-light shadow rounded-5 p-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Значение для замены</th>
                        <th scope="col">Тэг</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for field in fields_list %}
                <tbody>
                    <tr>
                        <td><h5>{{field.title}}</h5></td>
                        <td><h5>{{field.replace_value}}</h5></td>
                        <td><h5>{{field.tag}}</h5></td>
                        <td><a class="btn btn-outline-primary shadow" href="{% url 'fields_update' field.pk %}">
                                <lord-icon src="{% static 'icons/edit.json' %}" trigger="hover"
                                    style="width:32px;height:32px">
                                </lord-icon>
                            </a>
                        </td>
                        <td><a class="btn btn-outline-danger shadow" href="{% url 'fields_delete' field.pk %}">
                                <lord-icon src="{% static 'icons/delete.json' %}" trigger="hover"
                                    style="width:32px;height:32px">
                                </lord-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>

        <div class="modal fade" id="createField" tabindex="-1" aria-labelledby="createFieldLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createFieldLabel">Создать поле для шаблона
                            "{{template}}"</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'fields_create' %}" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{form.as_p}}
                        </div>
                        {% include 'Replacer/include/_modal_footer.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}