{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Список шаблонов{% endblock title %}
{% block container %}
<div class="container rounded-5 p-5 shadow" style="background-color: #d5d5d5;">
    <div class="row">
        <h1>Cписок шаблонов для пользователя {{user}}</h1>
        {% include 'Replacer/include/_add_button.html' %}
        {% if template_list %}
        <div class="bg-light shadow rounded-5 p-3">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Файл шаблона</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for template in template_list %}
                <tbody>
                    <tr>
                        <td><a class="btn d-flex btn-light shadow"
                                href="{% url 'template' template.pk %}">
                                <h5>{{template.title}}</h5>
                            </a></td>
                        <td><a class="btn d-flex btn-light shadow" href="/media/{{template.file}}">
                            <h5>
                                {{template.file}}
                            </h5></a>
                        </td>
                        <td><a class="btn btn-outline-primary shadow" href="{% url 'template_update' template.pk %}">
                                <lord-icon src="{% static 'icons/edit.json' %}" trigger="hover"
                                    style="width:32px;height:32px">
                                </lord-icon>
                            </a>
                        </td>
                        <td><a class="btn btn-outline-danger shadow" href="{% url 'template_delete' template.pk %}">
                                <lord-icon src="{% static 'icons/delete.json' %}" trigger="hover"
                                    style="width:32px;height:32px">
                                </lord-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>

        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createModalLabel">Создать шаблон</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'tamplate_create' %}" method="POST" enctype="multipart/form-data">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{form.as_p}}
                        </div>
                        {% include 'Replacer/include/_modal_footer.html' %}
                    </form>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}