{% extends 'base.html' %}
{% load custom_filters %}
{% block container %}
<div class="container rounded-5 p-5 shadow" style="background-color: #d5d5d5;">
    <div class="row">
        {% if template_list %}
        <h1>Cписок шаблонов</h1>
        <button type="button" class="btn btn-success shadow mt-3 mb-3" data-bs-toggle="modal"
            data-bs-target="#createModal">
            Добавить шаблон
        </button>
        <div class="bg-light shadow rounded-5 p-3">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Файл шаблона</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for template in template_list %}
                <tbody>
                    <tr>
                        <td><a class="btn d-flex btn-light shadow"
                                href="{% url 'template' template.pk %}">{{template.title}}</a></td>
                        <td><a class="btn d-flex btn-light shadow" href="/media/{{template.file}}">{{template.file}}</a>
                        </td>
                        <td><a class="btn d-flex btn-primary shadow"
                                href="{% url 'template_update' template.pk %}">Редактировать</a>
                        </td>
                        <td><a class="btn d-flex btn-danger shadow"
                                href="{% url 'template_delete' template.pk %}">Удалить</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>

    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createModalLabel">Создать шаблон</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'tamplate_create' %}" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success shadow" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-danger shadow">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}