{% extends 'base.html' %}
{% load custom_filters %}
{% block container %}
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-3 p-3 align-self-start border rounded-5 shadow" style="background-color: #d5d5d5;">
            {% show_template_bar path %}
        </div>
        {% if pk %}
        {% if form_list %}
        <div class="col-md-8 p-3 border rounded-5 shadow" style="background-color: #d5d5d5;">
            <form action="{% url 'create_document' pk %}" method="POST" enctype="multipart/form-data">
                {% for form in form_list %}
                {% csrf_token %}
                {% forindex field_list forloop.counter0 as field %}
                <div class="card mb-3 shadow rounded-5">
                    <div class="card-body">
                        <h4 class="card-title">Поле: {{field.title}}</h5>
                        <p class="card-text">{{ form.replace_value }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Тэг: {{field.tag}}</small>
                    </div>
                </div>
                {% endfor %}
                {{doc_name_form.as_p}}
                <button type="submit" class="btn btn-success shadow form-control">Создать документ</button>
            </form>
            {% else %}
            <div class="col-md-9 bg-light p-3 border rounded">
                <h5 class="card-title">Поля для замены не созданы</h5>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}