{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block container %}
<div class="container rounded-5 p-5 shadow" style="background-color: #d5d5d5;">
    {% if form %}
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            <h1>{{header|safe}}</h1>
            {% csrf_token %}
            {{form.as_p}}
            <div class="row">
                <div class="col">
                    <a href="{{under_url}}" class="btn btn-outline-danger shadow form-control">
                        <lord-icon src="{% static 'icons/cancel.json' %}" trigger="hover" style="width:32px;height:32px">
                        </lord-icon>
                        Отменить</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-success shadow form-control">
                        <lord-icon src="{% static 'icons/add.json' %}" trigger="hover" style="width:32px;height:32px">
                        </lord-icon>
                        {{text_button}}</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}